<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.speedy2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Speedy2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BookingHistory_Scooter"
            android:exported="false" />
        <activity
            android:name=".BookingHistory"
            android:exported="false" />
        <activity
            android:name=".popupReserveDate_Scooter"
            android:exported="false" />
        <activity
            android:name=".confirmActivity_Scooter"
            android:exported="false" />
        <activity
            android:name=".scooterBooking"
            android:exported="false" />
        <activity
            android:name=".popupReserveDate"
            android:exported="false" />
        <activity
            android:name=".confirmActivity"
            android:exported="false" />
        <activity
            android:name=".carBooking"
            android:exported="false" />
        <activity
            android:name=".UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>